Repository BanklessDAO/DEGEN, pull requests merged in 2021-09, with the labels that each got.

#130 Feature/allow lvl 2 contributors
  CHANGELOG.md
  src/app/app.ts
  src/app/commands/bounty/Bounty.ts
  src/app/commands/poap/poap.ts
  src/app/service/help/HowToPOAP.ts
  src/app/utils/BountyUtils.ts
  src/app/utils/ServiceUtils.ts
Labels: enhancement, Bounty Board, POAP

#134 handle offline users
  CHANGELOG.md
  src/app/events/GuildMemberUpdate.ts
  src/app/events/MessageCreate.ts
  src/app/events/MessageReactionAdd.ts
  src/app/events/Ready.ts
  src/app/events/VoiceStateUpdate.ts
Labels: bug

#138 Feature/scale out poap
  CHANGELOG.md
  docs/schema/poap/collectionsInit.js
  package.json
  src/app/app.ts
  src/app/commands/admin/GuestPass.ts
  src/app/commands/bounty/Bounty.ts
  src/app/commands/help/FeatureRequest.ts
  src/app/commands/help/Help.ts
  src/app/commands/notion/NotionFAQs.ts
  src/app/commands/notion/NotionGuildPage.ts
  src/app/commands/poap/POAP.ts
  src/app/commands/poap/poap.ts
  src/app/errors/EarlyTermination.ts
  src/app/events/VoiceStateUpdate.ts
  src/app/events/poap/AddUserForEvent.ts
  src/app/schema/poap/collectionsInit.js
  src/app/schema/poap/poapParticipants.json
  src/app/schema/poap/poapSettings.json
  src/app/service/bounty/create/CreateNewBounty.ts
  src/app/service/constants/discordServerIds.ts
  src/app/service/poap/DistributePOAP.ts
  src/app/service/poap/EndPOAP.ts
  src/app/service/poap/StartPOAP.ts
  src/app/types/poap/POAPParticipant.ts
  src/app/types/poap/POAPSettings.ts
  src/app/utils/POAPUtils.ts
  src/app/utils/ServiceUtils.ts
  yarn.lock
Labels: enhancement, POAP, Administration

#140 Feature/add config poap command
  CHANGELOG.md
  docs/discord/POAP_MANAGERS.md
  src/app/commands/poap/POAP.ts
  src/app/events/Ready.ts
  src/app/events/bounty/MessageCreateOnBountyBoard.ts
  src/app/events/poap/AddUserForEvent.ts
  src/app/schema/poap/collectionsInit.js
  src/app/schema/poap/poapAdmins.json
  src/app/schema/poap/poapSettings.json
  src/app/service/bounty/ClaimBounty.ts
  src/app/service/bounty/CompleteBounty.ts
  src/app/service/bounty/DeleteBounty.ts
  src/app/service/bounty/ListBounty.ts
  src/app/service/bounty/ReCreateBounty.ts
  src/app/service/bounty/RefreshBounty.ts
  src/app/service/bounty/SeekHelpBounty.ts
  src/app/service/bounty/SubmitBounty.ts
  src/app/service/bounty/UpdateEditKeyBounty.ts
  src/app/service/bounty/create/CreateNewBounty.ts
  src/app/service/bounty/create/PublishBounty.ts
  src/app/service/constants/constants.ts
  src/app/service/guest-pass/AddGuestPass.ts
  src/app/service/guest-pass/GuestPassService.ts
  src/app/service/guest-pass/RemoveGuestPass.ts
  src/app/service/help/HowToPOAP.ts
  src/app/service/poap/ConfigPOAP.ts
  src/app/service/poap/EndPOAP.ts
  src/app/service/poap/StartPOAP.ts
  src/app/types/poap/POAPAdmin.ts
  src/app/types/poap/POAPSettings.ts
  src/app/utils/POAPUtils.ts
  src/app/utils/dbUtils.ts
Labels: enhancement, POAP, Administration

#142 manually add registerd servers
  CHANGELOG.md
  package.json
  src/app/commands/help/Help.ts
  src/app/commands/poap/POAP.ts
Labels: bug

#144 Hotfix/1.5.2
  CHANGELOG.md
  package.json
  src/app/service/poap/EndPOAP.ts
  src/app/service/poap/StartPOAP.ts
  src/app/utils/POAPUtils.ts
Labels: bug

#154 Feature/enable poaps for other daos
  CHANGELOG.md
  src/app/commands/help/Help.ts
  src/app/commands/poap/POAP.ts
  src/app/events/Ready.ts
  src/app/service/help/HowToPOAP.ts
  src/app/service/poap/EndPOAP.ts
  src/app/utils/BountyUtils.ts
  src/app/utils/POAPUtils.ts
  yarn.lock
Labels: bug, enhancement, POAP

#155 Feature/migrate to digial ocean
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-qa.yml
  CHANGELOG.md
  package.json
  pm2.config.js
Labels: enhancement

#149 Feature/username spam filter
  CHANGELOG.md
  jest.config.js
  src/app/app.ts
  src/app/events/GuildBanRemove.ts
  src/app/events/GuildMemberAdd.ts
  src/app/events/GuildMemberUpdate.ts
  src/app/events/UserUpdate.ts
  src/app/service/bounty/DeleteBounty.ts
  src/app/service/constants/constants.ts
  src/app/types/discord/Allowlist.ts
  src/app/utils/Confusables.ts
  src/app/utils/ServiceUtils.ts
  src/test/utils/ServiceUtils.test.ts
Labels: enhancement, Administration

#158 Feature/enhance logging
  CHANGELOG.md
  src/app/service/bounty/create/CreateNewBounty.ts
  src/app/service/help/HowToBounty.ts
  src/app/service/help/HowToPOAP.ts
  src/app/utils/POAPUtils.ts
Labels: enhancement, Bounty Board
