Repository BanklessDAO/DEGEN, pull requests merged in 2021-08, with the labels that each got.

#75 Feature/bounty board emojis
  .env.prod
  .env.qa
  .env.template
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-qa.yml
  docs/BOT_PERMISSIONS.md
  docs/CHANGELOG.md
  docs/INSTALL.md
  package.json
  src/app/app.ts
  src/app/commands/admin/GuestPass.ts
  src/app/commands/bounty/Bounty.ts
  src/app/errors/ValidationError.ts
  src/app/events/bounty/handleBountyBoardChannel.ts
  src/app/events/guest-pass/handleGuestPassUpdate.ts
  src/app/events/guildMemberUpdate.ts
  src/app/events/messageReactionAdd.ts
  src/app/events/raw.ts
  src/app/events/ready.ts
  src/app/service/GuestPassService.ts
  src/app/service/bounty/ClaimBounty.ts
  src/app/service/bounty/CompleteBounty.ts
  src/app/service/bounty/DeleteBounty.ts
  src/app/service/bounty/ListBounty.ts
  src/app/service/bounty/SeekHelpBounty.ts
  src/app/service/bounty/SubmitBounty.ts
  src/app/service/bounty/claim.ts
  src/app/service/bounty/create/CreateNewBounty.ts
  src/app/service/bounty/create/PublishBounty.ts
  src/app/service/bounty/create/new.ts
  src/app/service/bounty/create/validate.ts
  src/app/service/bounty/list.ts
  src/app/service/constants/channelIDs.ts
  src/app/service/constants/constants.ts
  src/app/service/constants/roleIDs.ts
  src/app/service/guest-pass/AddGuestPass.ts
  src/app/service/guest-pass/GuestPassService.ts
  src/app/service/guest-pass/RemoveGuestPass.ts
  src/app/types/bounty/BountyCreateNew.ts
  src/app/types/bounty/BountyReward.ts
  src/app/utils/BountyUtils.ts
  src/app/utils/ServiceUtils.ts
  src/app/utils/db.ts
  src/test/commands/admin/GuestPass.test.ts
  src/test/service/bounty/claim.test.ts
  src/test/service/bounty/list.test.ts
  src/test/utils/BountyUtils.test.ts
Labels: Bounty Board

#76 bounty code cleanup
  src/app/commands/bounty/Bounty.ts
  src/app/events/bounty/handleBountyBoardChannel.ts
  src/app/service/bounty/ClaimBounty.ts
  src/app/service/bounty/CompleteBounty.ts
  src/app/service/bounty/SeekHelpBounty.ts
  src/app/service/bounty/SubmitBounty.ts
  src/app/service/bounty/create/CreateNewBounty.ts
  src/app/service/bounty/create/PublishBounty.ts
  src/app/utils/ServiceUtils.ts
Labels: Bounty Board

#77 Feature/bounty board code cleanup
  src/app/commands/bounty/Bounty.ts
  src/app/service/bounty/ClaimBounty.ts
  src/app/service/bounty/CompleteBounty.ts
  src/app/service/bounty/SubmitBounty.ts
  src/app/utils/BountyUtils.ts
Labels: Bounty Board

#82 Feature/fix bounty board bugs
  .env.prod
  .env.qa
  .env.template
  docs/BOT_PERMISSIONS.md
  docs/CHANGELOG.md
  src/app/commands/admin/GuestPass.ts
  src/app/commands/bounty/Bounty.ts
  src/app/events/README.md
  src/app/events/bounty/messageCreateOnBountyBoard.ts
  src/app/events/bounty/messageReactionAddBounty.ts
  src/app/events/guest-pass/handleGuestPassUpdate.ts
  src/app/events/message.ts
  src/app/events/messageReactionAdd.ts
  src/app/service/bounty/ClaimBounty.ts
  src/app/service/bounty/CompleteBounty.ts
  src/app/service/bounty/DeleteBounty.ts
  src/app/service/bounty/ListBounty.ts
  src/app/service/bounty/RefreshBounty.ts
  src/app/service/bounty/SeekHelpBounty.ts
  src/app/service/bounty/SubmitBounty.ts
  src/app/service/bounty/create/CreateNewBounty.ts
  src/app/service/bounty/create/PublishBounty.ts
  src/app/service/constants/channelIDs.ts
  src/app/service/constants/constants.ts
  src/app/service/constants/envUrls.ts
  src/app/service/constants/roleIDs.ts
  src/app/types/bounty/BountyCollection.ts
  src/app/types/bounty/BountyReward.ts
  src/app/utils/BountyUtils.ts
Labels: Bounty Board

#84 Feature/add edit link
  docs/CHANGELOG.md
  src/app/commands/bounty/Bounty.ts
  src/app/service/bounty/ListBounty.ts
  src/app/service/bounty/RefreshBounty.ts
  src/app/service/bounty/create/CreateNewBounty.ts
  src/app/service/bounty/create/PublishBounty.ts
  src/app/utils/BountyUtils.ts
Labels: Bounty Board

#90 expand allow special characters in description
  docs/CHANGELOG.md
  src/app/utils/BountyUtils.ts
Labels: Bounty Board

#91 expand allow special characters in description (#90)
  .env.prod
  .github/workflows/deploy-prod.yml
  docs/CHANGELOG.md
  src/app/utils/BountyUtils.ts
Labels: Bounty Board

#94 Hotfix/1.2.1
  docs/CHANGELOG.md
  package.json
  src/app/events/bounty/messageReactionAddBounty.ts
  src/app/service/bounty/ClaimBounty.ts
  src/app/service/bounty/ReCreateBounty.ts
  src/app/service/bounty/create/CreateNewBounty.ts
  src/app/service/bounty/create/PublishBounty.ts
  src/app/utils/BountyUtils.ts
Labels: bug, Bounty Board

#74 Feature/guild welcome message
  .env.prod
  .env.qa
  docs/CHANGELOG.md
  package.json
  src/app/commands/notion/NotionFAQs.ts
  src/app/commands/notion/NotionGuildPage.ts
  src/app/events/guest-pass/handleGuestPassUpdate.ts
  src/app/events/guildMemberUpdate.ts
  src/app/events/welcomeMats/devGuild.ts
  src/app/events/welcomeMats/guildMats.ts
  src/app/service/constants/constants.ts
  src/app/service/guest-pass/AddGuestPass.ts
  src/app/service/notion/NotionGuildPages.ts
  src/app/service/notion/NotionQueue.ts
  yarn.lock
Labels: enhancement

#101 Feature/discordjs v13 upgrade
  .env.prod
  .env.qa
  .env.template
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-qa.yml
  Dockerfile
  docs/CHANGELOG.md
  package.json
  src/app/app.ts
  src/app/commands/admin/GuestPass.ts
  src/app/commands/bounty/Bounty.ts
  src/app/commands/notion/NotionFAQs.ts
  src/app/errors/BountyMessageNotFound.ts
  src/app/events/bounty/messageCreateOnBountyBoard.ts
  src/app/events/bounty/messageReactionAddBounty.ts
  src/app/events/guildMemberUpdate.ts
  src/app/events/messageCreate.ts
  src/app/events/ready.ts
  src/app/events/welcomeMats/devGuild.ts
  src/app/service/bounty/ClaimBounty.ts
  src/app/service/bounty/CompleteBounty.ts
  src/app/service/bounty/DeleteBounty.ts
  src/app/service/bounty/ListBounty.ts
  src/app/service/bounty/ReCreateBounty.ts
  src/app/service/bounty/RefreshBounty.ts
  src/app/service/bounty/SeekHelpBounty.ts
  src/app/service/bounty/SubmitBounty.ts
  src/app/service/bounty/UpdateEditKeyBounty.ts
  src/app/service/bounty/create/CreateNewBounty.ts
  src/app/service/bounty/create/PublishBounty.ts
  src/app/service/constants/channelIds.ts
  src/app/service/constants/constants.ts
  src/app/service/constants/roleIds.ts
  src/app/service/guest-pass/AddGuestPass.ts
  src/app/service/guest-pass/GuestPassService.ts
  src/app/service/guest-pass/RemoveGuestPass.ts
  src/app/service/notion/NotionQueue.ts
  src/app/types/bounty/BountyCollection.ts
  src/app/utils/BountyUtils.ts
  src/app/utils/ServiceUtils.ts
  src/test/commands/notion/NotionFAQs.test.ts
  src/test/service/bounty/list.test.ts
  yarn.lock
Labels: enhancement, Bounty Board

#102 Feature/bounty enhancements
  docs/CHANGELOG.md
  docs/CODEOWNERS
  src/app/commands/bounty/Bounty.ts
  src/app/commands/help/Help.ts
  src/app/service/bounty/ClaimBounty.ts
  src/app/service/bounty/CompleteBounty.ts
  src/app/service/bounty/ReCreateBounty.ts
  src/app/service/bounty/RefreshBounty.ts
  src/app/service/bounty/SubmitBounty.ts
  src/app/service/bounty/create/CreateNewBounty.ts
  src/app/service/bounty/create/PublishBounty.ts
  src/app/service/help/HowToBounty.ts
  src/app/types/bounty/BountyCollection.ts
Labels: documentation, enhancement, Bounty Board

#106 Feature Request Form Retrieval
  package.json
  src/app/commands/help/featureRequest.ts
  yarn.lock
Labels: documentation

#108 Feature/multi user claim
  docs/CHANGELOG.md
  package.json
  src/app/commands/bounty/Bounty.ts
  src/app/service/bounty/create/CreateNewBounty.ts
  src/app/types/bounty/BountyCreateNew.ts
  src/app/types/bounty/BountyReward.ts
  src/app/utils/BountyUtils.ts
  src/test/service/bounty/claim.test.ts
  src/test/service/bounty/list.test.ts
  src/test/utils/BountyUtils.test.ts
Labels: enhancement, Bounty Board

#120 fix local database connection
  .env.prod
  .env.qa
  Dockerfile
  docker-compose.yml
  docs/CHANGELOG.md
  package.json
  src/app/service/constants/constants.ts
  src/app/utils/mongo-init.js
Labels: enhancement

#121 Use mongodb connection pools
  docs/CHANGELOG.md
  src/app/commands/admin/GuestPass.ts
  src/app/commands/bounty/Bounty.ts
  src/app/commands/help/FeatureRequest.ts
  src/app/commands/help/Help.ts
  src/app/commands/notion/NotionFAQs.ts
  src/app/commands/notion/NotionGuildPage.ts
  src/app/events/bounty/messageCreateOnBountyBoard.ts
  src/app/events/poap/addUserForEvent.ts
  src/app/events/ready.ts
  src/app/service/bounty/ClaimBounty.ts
  src/app/service/bounty/CompleteBounty.ts
  src/app/service/bounty/DeleteBounty.ts
  src/app/service/bounty/ListBounty.ts
  src/app/service/bounty/ReCreateBounty.ts
  src/app/service/bounty/RefreshBounty.ts
  src/app/service/bounty/SeekHelpBounty.ts
  src/app/service/bounty/SubmitBounty.ts
  src/app/service/bounty/UpdateEditKeyBounty.ts
  src/app/service/bounty/create/CreateNewBounty.ts
  src/app/service/bounty/create/PublishBounty.ts
  src/app/service/guest-pass/AddGuestPass.ts
  src/app/service/guest-pass/GuestPassService.ts
  src/app/service/guest-pass/RemoveGuestPass.ts
  src/app/service/notion/RetrieveFAQs.ts
  src/app/service/notion/__mocks__/RetrieveFAQs.ts
  src/app/service/poap/DistributePOAP.ts
  src/app/service/poap/EndPOAP.ts
  src/app/service/poap/StartPOAP.ts
  src/app/utils/db.ts
  src/test/commands/notion/NotionFAQs.test.ts
Labels: enhancement

#122 expand to level 2+
  docs/CHANGELOG.md
  src/app/utils/BountyUtils.ts
Labels: enhancement, Bounty Board

#125 Add Prad to POAP Manager List
  .env.prod
  .env.qa
  docs/discord/POAP_MANAGERS.md
Labels: POAP

#129 add prad
  .env.prod
  .env.qa
  docs/CHANGELOG.md
  docs/discord/POAP_MANAGERS.md
Labels: POAP, Administration
